.musicCard {
    display: grid;
    grid-template-columns: 5% 1fr 10%;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: var(--border-radius-sm);
    &:hover {
        background-color: var(--purple-color-2);
    }
}
.likeBox {
    position: relative;
}
.musicOptionCard {
    position: absolute;
    z-index: 10000;
    top: -20%;
    left: 0;
    transform: translateX(-100%);
    border-radius: var(--border-radius-md);
}
.order {
    font-size: 1.5rem;
    justify-self: center;
    color: var(--grey-color-2);
}
.playBtn {
    font-size: 2rem;
    color: var(--white-color);
}

.option {
    justify-content: space-between;
    padding: 0 1rem;
}
.iconBox {
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    &:hover {
        background-color: var(--purple-color-1);
    }
}
