.musicRightbar {
    padding: 1rem;
    background-color: var(--black-color-2);
}
.recommended {
    color: var(--grey-color-2);
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--grey-color-4);
}
