.comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem;
    .commentAvatar {
    }

    .body {
        margin-left: 0.5rem;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .bodyTop {
        background-color: var(--grey-color-6);
        border-radius: var(--border-radius-large);
        padding: 1rem;
    }
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 0.1rem;
        gap: 1rem;
    }
    .userName {
        font-size: 1.3rem !important;
        font-weight: 600 !important;
    }
    .time {
        font-size: 1.2rem;
    }
    .content {
        display: flex;
        font-size: 1.4rem;
    }
    .actionBtns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    .actionIcon {
        font-size: 1.5rem;
        color: var(--grey-color-4);
    }
    .likeCommentIconStyle {
        color: var(--lemon-color);
    }
    .actionBtn {
        font-size: 1.2rem;
        padding: 0.5rem;
        &:hover {
            background-color: var(--grey-color-3);
        }
        border-radius: var(--border-radius-large);
        -webkit-border-radius: var(--border-radius-large);
        -moz-border-radius: var(--border-radius-large);
        -ms-border-radius: var(--border-radius-large);
        -o-border-radius: var(--border-radius-large);
    }
    .replies {
        margin-left: 2rem;
    }
    border-radius: var(--border-radius-large);
    -webkit-border-radius: var(--border-radius-large);
    -moz-border-radius: var(--border-radius-large);
    -ms-border-radius: var(--border-radius-large);
    -o-border-radius: var(--border-radius-large);
    .countCommentLike {
        position: relative;
        z-index: 1;
        background-color: var(--white-color);
        top: -1rem;
        justify-content: flex-end;
        padding: 0.2rem 1rem;
        margin-right: 0.5rem;

        span {
            font-size: 1.2rem;
            margin-left: 0.1rem;
            color: var(--grey-color-2);
            font-weight: 500;
        }
        box-shadow: var(--box-shadow-small);
        border-radius: var(--border-radius-large);
    }
}
.smileLikeStyle {
    font-size: 1.8rem;

    color: var(--green-color);
    align-self: center;
}
.heartLikeStyle {
    color: var(--red-color);
    font-size: 2rem;
}
