.waves {
    gap: 1px;
    align-self: flex-end;
}
.wave {
    width: 2px;
    align-self: flex-end;
    background-image: linear-gradient(90deg, #c6ffdd, #fbd786, #f7797d);
    animation: waveAnimated 0.4s linear alternate infinite;
    animation-fill-mode: forwards;
    background-size: 300%;
    border-radius: var(--border-radius-md);
}
.wave1 {
    height: 10px;
}
.wave2 {
    height: 14px;
    animation-delay: 0.1s;
}
.wave3 {
    height: 6px;
    animation-delay: 0.3s;
}
.wave4 {
    height: 12px;
    animation-delay: 0.6s;
}
.wave5 {
    height: 16px;
    animation-delay: 0.4s;
}
@keyframes waveAnimated {
    0% {
        height: 5px;
        background-position: 100%;
    }

    50% {
        height: 15px;
        background-position: 200%;
    }
    100% {
        background-position: 300%;
        height: 22px;
    }
}
