@import '../../index.scss';
.header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: max-content 20% 1fr 10% max-content;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: var(--main-padding);
    height: var(--header-heigh);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    .logo {
        font-size: 2rem;
        color: var(--grey-white-color);
        font-weight: 700;
        letter-spacing: 1px;
    }
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
        padding: 0 1rem;
        font-size: 2.5rem;
        list-style: none;
        fill: var(--grey-white-color);
    }
    .icons {
        list-style: none;
        display: flex;
        justify-self: flex-end;
        gap: 2rem;
        color: var(--grey-white-color);
    }
    .iconBox {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        @include hoverBefore;
    }
    .icon {
        position: relative;
        font-size: 2rem;
    }
    .iconText {
        position: absolute;
        top: -5px;
        right: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        font-size: 0.8rem;
        color: var(--gray-white-color);
        background-color: var(--red-color);
    }
    .user {
        color: var(--grey-white-color);
    }
}
.userBox {
    gap: 0.5rem;
}
.setting {
    position: relative;
    justify-content: center;
    align-items: center;
    justify-self: start;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 4rem;
    color: var(--white-color);
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.1s ease;
    &:hover {
        background-color: var(--grey-color-1);
        // transform: scale(1.02);
    }
    // &:active {
    //     transform: scale(0.98);
    // }
}
