* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #534340;
    --grey-white-color: #f0f2f5;
    --white-color: #ffffff;
    --black-color: #1b1a17;
    --red-color: #fa383e;
    --grey-color: #d8d2cb;
    --grey-color-1: #303338;
    --grey-color-2: #9a9483;
    --grey-color-3: #f2f3f5;
    --grey-color-4: #eaebec;
    --grey-color-5: #f0f2f5;
    --green-color: #00a400;
    --lemon-color: #f5c33b;
    --purple-color: #9900f0;
    --blue-color: #3578e5;
    --main-padding: 0 2rem;
    --header-heigh: 4.5rem;
    --box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    --border-radius-large: 10px;
    --border-radius-md: 5px;
    --border-radius-sm: 3px;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.nav-icon {
    fill: var(--grey-white-color);
    color: var(--grey-white-color);
}

.d-flex-c {
    display: flex;
    flex-direction: column;
}

.d-flex-r {
    display: flex;
}

.hr {
    height: 1px;
    background-color: var(--grey-color);
}
.input-valid-style {
    transition: all 0.1s ease;
    &:focus {
        border: 1px solid var(--blue-color);

        &:not(:placeholder-shown) {
            &:invalid {
                border: 1px solid var(--red-color);
            }
        }
    }
}
