.media {
    height: calc(90vh - 4.5rem);
    margin-top: 4.5rem;
    background-color: var(--grey-color-3);
}
.content {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    flex: 1;
    background-color: var(--black-color-1);
}
